* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya', sans-serif;

}

html {
	background-color: #242635;
	margin-inline: 1.5rem;
	color: white;
}

:root {
	--primary-color: #242635;
	--secuundary-color: #34b0be;
	--h2-font-size: 1.2rem;
}

/*==============NAVBAR====================*/

.navbar {
	height: 50px;
	display: flex;
	position: relative;
	justify-content: end;
	align-items: center;
	position: sticky;
	top: 0;
	color: white;
}

.navbar_links {
	height: 100%;
}

.navbar_links ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar_links li {
	list-style: none;
}

.navbar_links li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navbar_links li:hover {
	background-color: var(--secuundary-color);
	text-decoration: underline;
}

.toggle_button {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle_button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/*==  HEADER =*/

.container_header {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: end;
	align-items: center;
	margin-top: 55px;
	flex-direction: column;
}

.photo {
	margin-top: 20px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url(/íconos/perfil\ 2.jpeg);

	background-size: contain;
	background-repeat: no-repeat;
}

h1 {
	display: flex;
	flex-direction: column;
	color: var(--secuundary-color);
	align-items: center;
	padding-top: 30px;
	animation: backInRight;
	animation-duration: 2.5s;
	margin-top: 10px;
}
h1 :nth-child(1) {
	color: white;
}
h1 :last-child {
	font-size: 5rem;
	padding-top: 5px;
}
.header_line {
	width: 350px;
	height: 1px;
	background-color: rgb(233, 204, 204);
}
h2 {
	padding-top: 10px;
	color: white;
}
.logo_academlo {
	width: 10px;
	height: 20px;
	border-color: aliceblue;
	color: rgb(184, 77, 77);
	text-decoration: none;
}

/*=====================================================*/

/*========SOCIAL MEDIA ===============================*/
.container_social_media {
	width: 100%;
	height: 60px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.component_social_media {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #d1ceca;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
}

.linkedin {
	background-image: url(./íconos/linkedin.svg);
}
.facebook {
	background-image: url(/íconos/FC.svg);
}
.twiter {
	background-image: url(./íconos/twitter.svg);
}
.container_social_media_2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 90px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: #54537d68;
}
.component_social_media_2 {
	display: block;
	width: 60px;
	height: 40px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #d1ceca;
	border-radius: 8px;
}
.google {
	background-image: url(/íconos/google.svg);
}
.twitch {
	background-image: url(/íconos/bxl-twitch.svg);
}
.spotify {
	background-image: url(/íconos/spotify.svg);
}

/*================ main==========================*/

.container_title_about_me {
	width: 100%;
	height: 170px;
	margin-top: 50px;
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.container_title_about_me h2 {
	color: var(--secuundary-color);
}


.container_title_about_me span {
	font-size: var(--h2-font-size);

	padding-top: 30px;
}

/*============ class generics=============================*/

.hover_icons:hover {
	background-color: var(--secuundary-color);
}
.underline:hover {
	text-decoration: underline;
}
/*=====================   BREACKPOINTS  ===============================*/
@media (max-width: 500px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle_button {
		display: flex;
	}

	.navbar_links {
		display: none;
		width: 100%;
	}

	.navbar_links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar_links ul li {
		text-align: center;
	}

	.navbar_links ul li a {
		padding: 0.5rem 1rem;
	}

	.navbar_links.active {
		display: flex;
	}
}

/* Background Styles Only */
