* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

html {
	background-color: #242635;
	margin-inline: 1.5rem;
	color: white;
}

:root {
	--primary-color: #242635;
	--secuundary-color: #34b0be;
	--third-color: #d1ceca;
	--fourth-color: #54537d68;

	--h2-font-size: 1.2rem;
}

/*==============NAVBAR====================*/

.navbar {
	height: 70px;
	display: flex;

	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: var(--primary-color);
	color: white;
}
.my_logo {
	background-image: url(/íconos/mi\ logo.svg);
	background-size: contain;
	width: 30px;
	height: 30px;
	align-content: center;
}

.navbar_links {
	height: 100%;
}

.navbar_links ul {
	display: flex;
}

.navbar_links li {
	list-style: none;
}

.navbar_links li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navbar_links li:hover {
	background-color: var(--secuundary-color);
	text-decoration: underline;
}

.toggle_button {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle_button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/*==  HEADER =*/

.container_header {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: end;
	align-items: center;
	margin-top: 55px;
	flex-direction: column;
}

.photo {
	margin-top: 20px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url(/íconos/perfil\ 2.jpeg);
	background-size: contain;
	background-repeat: no-repeat;
}

h1 {
	display: flex;
	flex-direction: column;
	color: var(--secuundary-color);
	align-items: center;
	padding-top: 30px;
	animation: backInRight;
	animation-duration: 2.5s;
	margin-top: 10px;
	font-size: 1.5rem;
}
h1 :nth-child(1) {
	color: white;
}
h1 :last-child {
	font-size: 5rem;
	padding-top: 5px;
}
.header_line {
	width: 350px;
	height: 1px;
	background-color: var(--third-color);
}
h2 {
	padding-top: 10px;
	color: white;
	font-size: large;
}
.logo_academlo {
	width: 10px;
	height: 20px;
	border-color: var(--third-color);
	color: rgb(184, 77, 77);
	text-decoration: none;
}
.icon_academlo {
	width: 10px;
	height: 20 px;
	background-image: url(/íconos/logo_academlo\ 2.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*=====================================================*/

/*========SOCIAL MEDIA ===============================*/
.container_social_media {
	width: 100%;
	height: 60px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.component_social_media {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--third-color);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
}

.linkedin {
	background-image: url(./íconos/linkedin.svg);
}
.facebook {
	background-image: url(/íconos/FC.svg);
}
.twiter {
	background-image: url(./íconos/twitter.svg);
}
.container_social_media_2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 90px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: #54537d40;
}
.component_social_media_2 {
	display: block;
	width: 60px;
	height: 40px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--third-color);
	border-radius: 8px;
}
.google {
	background-image: url(/íconos/google.svg);
}
.twitch {
	background-image: url(/íconos/bxl-twitch.svg);
}
.spotify {
	background-image: url(/íconos/spotify.svg);
}

/*================ ABOUT ME  ==========================*/

.container_title_about_me {
	width: 100%;
	height: 200px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: start;
}
.container_title_about_me h2 {
	color: var(--secuundary-color);
	margin-top: 5px;
}

.container_title_about_me span {
	font-size: var(--h2-font-size);
	margin-top: 0;
	padding: 15px;
}

/*============= SERVICIES ===========================*/

.container_services {
	width: 100%;
	height: 700px;
	margin-top: 32px;
	background-color: var(--fourth-color);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
section h2 {
	color: var(--secuundary-color);
}
.card_services {
	width: 300px;
	height: 300px;
	background-color: white;
	margin-top: 20px;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 5px;
}
.icon_ux {
	width: 30%;
	height: 100px;
	display: flex;
	justify-content: center;
	background-image: url(/íconos/pencil.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.Logo_figma {
	background-image: url(/íconos/figma-vector-logo.png);
	background-position: center;
}

/*============ class generics=============================*/
.h2_secundary_color {
	color: var(--secuundary-color);
}

.hover_icons:hover {
	background-color: var(--secuundary-color);
}
.underline:hover {
	text-decoration: underline;
	color: var(--secuundary-color);
}
/*=====================   BREACKPOINTS  ===============================*/
@media (max-width: 500px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle_button {
		display: flex;
	}

	.navbar_links {
		display: none;
		width: 100%;
	}

	.navbar_links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar_links ul li {
		text-align: center;
	}

	.navbar_links ul li a {
		padding: 0.5rem 1rem;
	}

	.navbar_links.active {
		display: flex;
	}
}
@media (min-width: 575px) {
	.navbar {
		display: flex;
		justify-content: space-between;
	}
}

/* Background Styles Only */
